{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        <div>
            {{ form_errors(registrationForm.username) }}
            {{ form_label(registrationForm.username) }}
            {{ form_widget(registrationForm.username) }}
        </div>

        <div>
            {{ form_errors(registrationForm.email) }}
            {{ form_label(registrationForm.email) }}
            {{ form_widget(registrationForm.email) }}
        </div>

        <div>
            {{ form_errors(registrationForm.plainPassword) }}
            {{ form_label(registrationForm.plainPassword) }}
            {{ form_widget(registrationForm.plainPassword) }}
        </div>

        <div>
            <button type="submit" class="btn">Register</button>
        </div>
    {{ form_end(registrationForm) }}
{% endblock %}
